{% embed '../../ui/card/card.twig' %}
    {% block CONTENT %}
        <table style="width: 100%;">
            <tr>
                <td>
                    {% embed '../../ui/logo/default.twig' %}{% endembed %}
                </td>
                <td style="text-align:right">
                    <table align="right">
                        <tr>
                            <td>
                                <a href="{{ feedbackLink }}" style="border:none;text-decoration:none;color: #fff;font-size: 13px;padding-right: 24px;" target="_blank">
                                    Связаться с нами
                                </a>
                            </td>
                        </tr>
                    </table>
                    <table align="right">
                        <tr>
                            <td>
                                <a href="https://www.aviakassa.com/account/" style="border:none;text-decoration:none;color: #fff;font-size: 13px;padding-right: 24px;" target="_blank">
                                    Мой кабинет
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    {% endblock %}
{% endembed %}
