{#{% set WHITE_LOGO = 'https://s.aviakassa.ru/images/logo-ak-v2-white.png' %}#}
{#{% set DARK_LOGO = 'https://s.aviakassa.ru/images/logo-ak-v2-dark.png' %}#}
{#{% set LINK_IMG = WHITE_LOGO %}#}

{#{% if IS_FOOTER == true %}#}
{#    {% set LINK_IMG = DARK_LOGO %}#}
{#{% endif %}#}

<a href="{{ domain }}" style="border-bottom:none;text-decoration:none" target="_blank">
    <img width="{{ logo_width }}" height="{{ logo_height }}" alt="Aviakassa" src="{{ logo_url }}"/>
</a>
