<table style="background-color: #1C9A8D; width:100%;">
    <tr>
        <td style="line-height: 10px">&nbsp;</td>
    </tr>
    <tr>
        <td>
            <div style="padding: 0 20px;color: #fff; overflow: hidden;text-align: center;">
                <span style="font-size: 16px;line-height: 18px;">
                    {% block HEADER_CONTENT %}{% endblock %}
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td style="line-height: 10px">&nbsp;</td>
    </tr>
</table>