<table style="width: 50%; table-layout: fixed;">
    <tr>
        <td style="font-size: 32px; width:90px">
            <strong title="{% block DIRECTION_FROM_CITY %}%CITY%{% endblock %}">{% block DIRECTION_FROM_IATA %}%IATA%{% endblock %}</strong></td>
        <td style="width: 100px; padding: 10px">
            <img style="width: 100%;" alt="to" src="https://i.ibb.co/KzyDm2s/direction.png"/>
        </td>
        <td style="font-size: 32px; width:90px"><strong title="{% block DIRECTION_TO_CITY %}%CITY%{% endblock %}">{% block DIRECTION_TO_IATA %}%IATA%{% endblock %}</strong></td>
    </tr>
</table>