<div>
    <table>
        <tr>
            <td>
                <div style="margin-bottom:10px; display:inline-block; border-bottom: 1px dashed; padding-bottom: 3px">
                    {% block COLUMN_LABEL %}{% endblock %}
                </div>
            </td>
        </tr>
        <tr>
            <td style="font-size: 18px; line-height: 18px;">
                {% block COLUMN_TIME %}{% endblock %}
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-size: 14px; line-height: 18px;">{% block COLUMN_DATE %}{% endblock %}</span>
            </td>
        </tr>

    </table>
</div>