{% if not ONLY_BUTTONS %}
  <tr>
    <td style="padding:0 24px 16px 24px">
      <p style="font-family:BlinkMacSystemFont, -apple-system, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:1.5;color:#0b1f35;-webkit-font-smoothing:antialiased;word-wrap:break-word;text-align:left;margin:0;padding:0">
        Посмотреть полную информацию о покупке можно в приложении Альфа-Банка &rarr;&nbsp;сервис <b>Путешествия</b> &rarr;&nbsp;раздел <b>Мои&nbsp;заказы.</b>
      </p>
    </td>
  </tr>
{% endif %}
<tr>
  <td align="center" style="display:block;padding:16px;">
    <div style="border-radius:8px;background-color:#EF3124;padding:12px 20px;width:200px;white-space:nowrap;margin:0 auto 10px auto;">
      <a href="https://trk.mail.ru/c/pqld65" target="_blank" style="text-decoration:none">
        <span style="font-family:BlinkMacSystemFont, -apple-system, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:1.5;color:#fff;-webkit-font-smoothing:antialiased;word-wrap:break-word;text-align:left;margin:0;padding:0">Посмотреть в приложении</span>
      </a>
    </div>
    <div style="border-radius:8px;background-color:transparent;padding:12px 20px;width:200px;height:min-content;white-space:nowrap;border:1px solid #EF3124;margin:0 auto;">
      <a href="https://travel.alfabank.ru/" target="_blank" style="text-decoration:none">
        <span style="font-family:BlinkMacSystemFont, -apple-system, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:1.5;color:#EF3124;-webkit-font-smoothing:antialiased;word-wrap:break-word;text-align:left;margin:0;padding:0">Посмотреть на сайте</span>
      </a>
    </div>
  </td>
</tr>
