{% set TEXT_CODE = 'Код восстановления' %}
{% set TEXT_RESTORE = 'Восстановить' %}

{% embed '../../ui/card/card.twig' %}
    {% block CONTENT %}
        <table style="width: 100%;">
            <tr>
                <td align="center">
                    Для восстановления аккаунта перейдите по ссылке ниже или скопируйте код для использования в форме
                    восстановления аккаунта
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table valign="middle" align="center">
                        <tr>
                            <td>
                                <table valign="middle">
                                    <tr>
                                        <td>
                                            {% embed '../../ui/button/button.twig' %}
                                                {% block BUTTON_HREF %}{{ url }}{% endblock %}
                                                {% block BUTTON_LABEL %}{{ TEXT_RESTORE }}{% endblock %}
                                            {% endembed %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align="center">
                    <div style="font-size: 14px">
                        {{ TEXT_CODE }}:
                    </div>
                    <div>
                        <strong>{{ key }}</strong>
                    </div>
                </td>
            </tr>

        </table>
    {% endblock %}
{% endembed %}