{% set HREF %}
    {% block BUTTON_HREF %} {% endblock %}
{% endset %}


<a href="{{ HREF }}"
   style="
   word-wrap:normal;
   color:#fff;
   word-break:normal;
   white-space:nowrap;
   display:block;
   text-decoration:none"
   target="_blank">
    <table border="0" cellspacing="0" cellpadding="0" width="auto">
        <tr>
            <td bgcolor="#7ece1b"
                style="
               padding: 8px 16px;
               color:#fff;
               display:inline-block;
               text-decoration:none;
               background-color:#7ece1b;
               box-shadow: 0 2px 0 #64a712;
                ">
                <a href="{{ HREF }}" style="color:#ffffff;display:inline-block;text-decoration:none" target="_blank">
                    {% block BUTTON_LABEL %} {% endblock %}
                </a>
            </td>
        </tr>
    </table>
</a>
